BasedOnStyle: LLVM
Language: Cpp
Standard: c++14
ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
IndentPPDirectives: None
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
FixNamespaceComments: true
